<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalidação de Registro</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylemain.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='images/bkb.png') }}" >
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">BasketHub</a></li>
            <li><a href="/">Início</a></li>
            <li><a href="/listar_jogos">Jogos</a></li>
            <li><a href="/form_inserir_jogo">Registrar Jogo</a></li>
            <img class="logo" src="images/bkblogo.png">
        </ul>
    </nav> 
    <div class="alinhar">
        <div id="exceptioncontainer">
            <h4>Ops!</h4>
            <p>Você digitou um número inválido.Tente inserir outro número que seja positivo e menor que mil (1000).</p>
            <h5>Continue quebrando seus recordes!</h5>
        </div>
    </div>
    <div class="alinhar">
        <img class="bkb_width" src="images/bkb.png"> 
    </div>

    
</body>
</html>