<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Jogos</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylemain.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/inserir_jogo.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">BasketHub</a></li>
            <li><a href="/">Início</a></li>
            <li><a href="/listar_jogos">Jogos</a></li>
            <li><a href="/form_inserir_jogo">Registrar Jogo</a></li>
            <img class="logo" src="images/bkblogo.png">
        </ul>
    </nav>

    <div class="alinhar">
        <div id="insertcontainer">
            <section>
                <form action ="/inserir_jogo" method ="post">
                    <h4>Insira o seu placar:</h4>
                    <input type="text" name="placar" placeholder="0">
                    <input type="submit" value="Inserir">
                </form>
            </section>
        </div>
    </div>
    <div class="alinhar">
        <img  class="bkb_width" src="images/bkb.png"> 
    </div>
</body>
</html>